<script src="js/Chart.min.js"></script>
<script type="text/javascript">
	$().ready(function() {
		createChart();
	});
</script>
<div class="wrap">
	<h3>Data Analysis</h3>
	<div class="chartBox">
		<h3>Birth in Taiwan</h3>
		<h4>Source:&nbsp;Ministry of the Interiror</h4>
		<div class="chartContent clearfix">
			<div class="chart_Y_title">People</div>
			<div class="chart_wrap"><canvas id="chart" ></canvas></div>
			<div class="chart_legend clearfix"><div id="legend"></div></div>
		</div>
		<div class="chart_X_title">Year</div>
	</div>
	
</div>